.fs {
  display: block;
  position: relative;
  * {
    color: #fff;
  }

  .img {
    display: block;
    width: 700px;
    height: 820px;
    position: absolute;
    top: 54px;
    right: -142px;
    background: url("../img/bg-arr-blue.png") 92px 96px no-repeat;
    background-size: auto;
  }
  .title {
    padding-top: 90px;
    .t1 {
      @include text-bold(12px);
      transform: scaleX(1.1);
      text-transform: uppercase;
      letter-spacing: 3px;
      color: rgba(0, 132, 255, 0.35);
      padding-left: 0;
      margin-left: 55px;
    }
    .t2 {
      font-size: 21px;
      padding-top: 25px;
    }
    h1 {
      padding-top: 40px;
    }
  }
  .list {
    display: flex;
    flex-flow: row wrap;
    width: 700px;
    padding-top: 50px;
    .item {
      width: 50%;
      padding-left: 20px;
      padding-bottom: 20px;
      position: relative;
      &:before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 5px;
        left: 0;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: transparent;
        border: 2px solid rgb(71, 152, 255);
        box-shadow: 0 0 30px 12px rgba(255, 255, 255, 0.1);
      }
    }
  }
  .button {
    margin-top: 55px;
  }
  .info {
    width: 100%;
    padding: 100px 0 0 90px;
    position: relative;
    .nav {
      position: absolute;
      top: 150px;
      left: -33px;
    }
    .title {
      display: block;
      width: 50%;
      padding-bottom: 45px;
      font-size: 30px;
      line-height: 1.5;
    }
    .item {
      max-width: 240px;
      padding-left: 50px;

      > .t1 {
        display: block;
        @include text-thin(72px);
        color: rgba(255, 255, 255, 0.05);
      }
      > .t2 {
        font-size: 18px;
        position: relative;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        z-index: 0;
        top: 70px;
        left: 30px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #4798ff;
        box-shadow: 0 0 70px 40px rgba(135,178,238, 0.25);
      }
    }
  }

  @include media-breakpoint-down(lg) {
    padding-bottom: 50px;
    .img, .list {
      width: 600px;
    }
    .info {
      padding-left: 0;
    }
  }
  @include media-breakpoint-down(md) {
    .img {
      width: 60vw;
      min-width: 500px;
    }
    .title {
      .t1 {
        margin-left: 40px;
      }
      h1 {
        padding-top: 20px;
      }
      .t2 {
        padding-top: 20px;
        max-width: 400px;
      }
    }
    .list {
      .item {
        width: 100%;
      }
    }
    .info {
      padding-top: 50px;
      .title {
        width: 80%;
        font-size: 24px;
        padding-bottom: 20px;
      }
      .item {
        padding-left: 30px;
        &:before {
          left: 15px;
        }
        .t1 {font-size: 60px;}
      }
    }

  }
  @include media-breakpoint-down(sm) {
    .title {
      padding-top: 30px;
      h1 {padding-top: 0;}
      .t1 {
        font-size: 11px;
        margin-left: 34px;
      }
      .t2 {
        font-size: 18px;
        padding-top: 0;
      }
    }
    .info {
      .row {
        max-width: 500px;
        margin: 0 auto;
      }
      .item {
        max-width: 100%;
        &:before {
          top: 40px;
        }
        .t1 {font-size: 40px;}
        .t2 {font-size: 16px;}
      }
    }
  }
  @include media-breakpoint-down(xs) {
    .title .t1 {
      letter-spacing: 1px;
      transform: none;
      margin-left: 0;
    }
    .title .t2 {
      max-width: none;
    }
    .img {
     width: 100vw;
      min-width: 400px;
      height: auto;
      position: static;
      margin-bottom: -25vw;
    }
    .button {
      margin-top: 30px;
    }
    .list {
      width: 100%;
    }
  }
  .info {
    .title {
      width: 100%;
      font-size: 20px;
    }
  }
}


