.header, .footer {
  width: 100%;
  padding-top: 58px;
  * {
    color: #fff;
  }
  .logo {
    display: inline-block;
    vertical-align: top;
    width: auto;
    height: auto;
  }
  .slogan {
    display: inline-block;
    vertical-align: top;
    font-size: 12px;
    line-height: 1.5;
    color: rgba(255,255,255,0.5);
    padding-left: 40px;
    margin-left: 40px;
    border-left: 1px solid rgba(255,255,255,0.15);
  }
  .phone {
    display: block;
    font-size: 24px;
    font-weight: bold;
    padding-bottom: 4px;
    outline: none;
    border: none;
    color: #fff;
    text-decoration: none;
    white-space: nowrap;
    padding-left: 20px;
  }
  .button-link {
    margin-left: auto;
    margin-right: 0;
  }

  @include media-breakpoint-down(lg) {

   }
  @include media-breakpoint-down(md) {
    padding-top: 35px;
    .logo {
      width: 15vw;
      min-width: 120px;
    }
    .slogan {
      padding-left: 20px;
      margin-left: 20px;
    }
    .phone {
      font-size: 20px;
    }
  }
  @include media-breakpoint-down(sm) {
    padding-top: 15px;
    .nowrap {
      white-space: normal;
    }
    .logo {
      min-width: 100px;
    }
    .slogan {
      display: block;
      padding-left: 0;
      margin-left: 0;
      padding-top: 10px;
      border-top: 1px solid rgba(255,255,255,0.15);
      border-left: 0;
      line-height: 1;
    }
    .phone {
      font-size: 18px;
    }
  }
  @include media-breakpoint-down(xs) {
    .phone {
      padding-top: 25px;
    }
  }
}
.footer {
  height: auto;
  padding-top: 100px;
  @include media-breakpoint-down(sm) {
    padding-bottom: 50px;
  }

}