.quite {
  display: block;
  padding-left: 400px;
  padding-top: 55px;

  * {
    color: #fff;
  }
  .t1 {
    font-size: 24px;
    .small {
      font-size: 18px;
    }
  }
  .t2 {
    padding-top: 55px;
    padding-bottom: 70px;
    font-size: 20px;
    line-height: 1.5;
  }
  .t3 {
    display: block;
    width: 456px;
    height: 125px;
    margin-left: -60px;
    padding: 30px 0 30px 60px;
    background: url("../img/bg-quit.png") center no-repeat;
    background-size: contain;
    font-size: 16px;
    line-height: 1.5;
  }
  @include media-breakpoint-down(lg) {
    padding-left: 30vw;
  }
  @include media-breakpoint-down(md) {
    padding-left: 20vw;
    .t1 {
      font-size: 20px;
      .small {
        font-size: 16px;
      }
    }
    .t2 {font-size: 18px;}
    .t3 {font-size: 15px;}
  }
  @include media-breakpoint-down(sm) {
    padding-left: 10vw;
    padding-bottom: 150px;
  }
  @include media-breakpoint-down(xs) {
    padding-left: 0;
    .t2 { font-size: 16px; padding-top: 30px; }
    .t3 {
      width: 95vw;
      max-width: 370px;
      height:  160px;
      background-size: 100% 100%;
      margin: 0;
      margin-left: -5vw;
      padding-left: 35px;
      padding-right: 10px;
    }
  }
}